#################################################################
# --- Ignore les fichiers commençant par un point
#################################################################
.*
#################################################################
# --- Exception sur gitignore et project
#################################################################
!\.project
!\.gitignore
#################################################################
# --- Ignore les dossiers tests  et temp.txt situés à la racine
#################################################################
/tests/
/temp.txt